<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="person1" class="com.prowings.models.Person">
	<property name="id" value="101"></property>
	<property name="name" value="Ram"></property>
	<property name="mobileNumbers">
	
		<list>
			<value>12345</value>
			<value>09876</value>
			<value>85493</value>
		
		</list>
	</property>
	
	<property name="emails">
	
		<set>
			<value>abc@gmail.com</value>
			<value>trd@yahoo.com</value>
			<value>sdf@rediff.com</value>
		
		</set>
	</property>
	
	<property name="personProfession">
	
		<map>
			<entry key="101" value="Doctor"></entry>
			<entry key="102" value="Engineer"></entry>
			<entry key="103" value="IAS"></entry>
		
		</map>
	
	
	
	</property>
	
	
	
	</bean>


</beans>