<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="std1" class="com.prowings.models.Student">
	<property name="roll" value="10"></property>
	<property name="name" value="Ram"></property>
	<property name="address">
			<ref bean="addr1" />
	</property>
	</bean>

	<bean id="std2" class="com.prowings.models.Student">
	<constructor-arg name="roll" value="20"></constructor-arg>
	<constructor-arg name="name" value="Sham"></constructor-arg>
	<constructor-arg name="address">
		<ref bean="addr2"/>
	
	</constructor-arg>
	</bean>

	<bean id="addr1" class="com.prowings.models.Address">
	<property name="pin" value="44444"></property>
	<property name="city" value="Pune"></property>
	</bean>
	
	
	<bean id="addr2" class="com.prowings.models.Address">
	<constructor-arg name="pin" value="55555"></constructor-arg>
	<constructor-arg name="city" value="Mumbai"></constructor-arg>
	</bean>

	<bean id="emp1" class="com.prowings.models.Employee" lazy-init="true">
	<property name="id" value="1001"></property>
	<property name="name" value="Sham"></property>
	<property name="salary" value="50000f"></property>
	</bean>
	<bean id="emp2" class="com.prowings.models.Employee">
	<property name="id" value="1002"></property>
	<property name="name" value="Naam"></property>
	<property name="salary" value="110000f"></property>
	</bean>

</beans>