<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="fourWheeler1" class="com.prowings.beanscopes.FourWheeler" scope="singleton" autowire ="byName">
<property name="model" value="2023"></property>
 <property name="company" value="TOYOTA"></property>
 <property name="type" value="SUV"></property>
 <lookup-method name="getEngine" bean="engine"/>

</bean>

<bean id ="engine" class="com.prowings.beanscopes.Engine" scope="prototype">
<property name="capacity" value="3"></property>
<property name="type" value="In-Line 4 cylinders"></property>
<property name="hp" value="200"></property>




</bean>



</beans>